@import 'customPagination.css';
@import 'radixRange.css';
@import 'radixTabs.css';
@import 'customTagInput.css';
@import 'spinner.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    background: #fff;
    color: #333e48;
    overflow-y: scroll;
  }
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

html::-webkit-scrollbar-button {
  display: none;
}
