/* reset */
button,
fieldset {
    all: unset;
}

.TabsRoot {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.TabsList {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid #E5E8EF;
}

.TabsTrigger {
    font-family: inherit;
    background-color: white;
    padding: 0 20px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    color: black;
    user-select: none;
}

.TabsTrigger:first-child {
    border-top-left-radius: 6px;
}

.TabsTrigger:last-child {
    border-top-right-radius: 6px;
}

.TabsTrigger:hover {
    color: #fed700;
}

.TabsTrigger[data-state='active'] {
    color: black;
    font-weight: 700;
    box-shadow: inset 0 -1px 0 0 #fed700, 0 1px 0 0 #fed700;
}

.TabsTrigger:focus {
    position: relative;

}

.TabsContent {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
}








